@using MDRAP
@using ROPAE
@using ROPANSV
@using ROPEvidenta
@using ROPInfrastructure
@using ROPMECS
@using ROPMinisterulSanatatii
@using ROPPermise
@using ROPPI

@{
    ViewBag.Title = "LoadData";
    var data = AppState["dataSaved"] as RopDataSaved[];
    var names=Enumerable.Select(data, it => it.Name).Distinct().ToArray();
    Func<string,string> html=(str) => str.Replace(".", "_");

    var existingData = new[]
    {

        new Tuple<string, string, bool>("Medici",html( typeof (Medici).AssemblyQualifiedName), names.Contains(typeof (Medici).AssemblyQualifiedName)),
        new Tuple<string, string, bool>("Farmacii", html(typeof (Farmacii).AssemblyQualifiedName), names.Contains(typeof (Farmacii).AssemblyQualifiedName)),
        new Tuple<string, string, bool>("Electoral", html(typeof (StatisticaLocalitati).AssemblyQualifiedName), names.Contains(typeof (StatisticaLocalitati).AssemblyQualifiedName)),
        new Tuple<string, string, bool>("Casatorii", html(typeof (Casatorii).AssemblyQualifiedName), names.Contains(typeof (Casatorii).AssemblyQualifiedName)),
        new Tuple<string, string, bool>("ParcAuto", html(typeof (ParcAuto).AssemblyQualifiedName), names.Contains(typeof (ParcAuto).AssemblyQualifiedName)),
        new Tuple<string, string, bool>("UnitatiInvatamint", html(typeof (UnitatiInvatamint).AssemblyQualifiedName), names.Contains(typeof (UnitatiInvatamint).AssemblyQualifiedName)),
        new Tuple<string, string, bool>("DetinatoriPermise", html(typeof (DetinatoriPermise).AssemblyQualifiedName), names.Contains(typeof (DetinatoriPermise).AssemblyQualifiedName)),
        new Tuple<string, string, bool>("ObiectiveInvestiții", html(typeof (ObiectiveInvestiții).AssemblyQualifiedName), names.Contains(typeof (ObiectiveInvestiții).AssemblyQualifiedName)),
        new Tuple<string, string, bool>("NumarAnimale", html(typeof (NumarAnimale).AssemblyQualifiedName), names.Contains(typeof (NumarAnimale).AssemblyQualifiedName))
        
};
}

<h2>LoadData</h2>

    @foreach (var item in existingData)
    {
        if (item.Item3)
        {
            <p>@item.Item1</p>
        }
        else
        {
            <p>
                <a href='@Url.Action("LoadData", new {id = item.Item2})'>@item.Item1</a>
            </p>
        }
    }
                
            
